<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>How to use the API</h1>
    <h2>Get all senators</h2>
    <p>Enter the following url: <a href="/api/senators">https://cs3200-currancelentanobenham.herokuapp.com/api/senators</a></p>
    <h2>Get one senator</h2>
    <p>Create a url with the id of the senator: https://cs3200-currancelentanobenham.herokuapp.com/api/senators/id</a></p>
    <p>Example url: <a href="/api/senators/A000360">https://cs3200-currancelentanobenham.herokuapp.com/api/senators/A000360</a></p>
    <h2>Create a senator</h2>
    <p>Create a post request with the following URL: <a href="/api/senators">https://cs3200-currancelentanobenham.herokuapp.com/api/senators</a></p>
    <p>Include data in the request in the following format: "senid=id&fname=firstname&lname=lastname&state=state&party=party&website=url"</p>
    <h2>Update a senator</h2>
    <p>Create a put request a URL containing the senID: https://cs3200-currancelentanobenham.herokuapp.com/api/senators/id</a></p>
    <p>Include data in the request in the following format: "fname=firstname&lname=lastname&state=state&party=party&website=url"</p>
    <h2>Delete a senator</h2>
    <p>Create a delete request with the id of the senator: https://cs3200-currancelentanobenham.herokuapp.com/api/senators/id</a></p>
</body>
</html>
